body{
    background-color: dimgray;
}

#title{
    text-align: center;
    margin-bottom: 5px;
}

h1 { 
    text-align: center;
}

button{
    background-color: aquamarine;
    text-align: center;
}


#firstDiv{
    text-align: center;
    color: black;
}

#firstButtons{
    display: flex;
    justify-content: space-around;
    
}